* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url("images/bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

nav {
    height: 50px;
    width: 100%;
    padding: 20px 0;
}

.container {
    width: 1200px;
    max-width: 85%;
    margin: 0 auto;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0px 6px;
}

nav ul li a {
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
}

nav ul li a:hover,
a.active {
    background-color: #3352F2;
    border-radius: 5px;
}

.main-content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 70px;
    align-items: center;
}


/* add by me */

.booking-form {
    padding: 25px;
    border-radius: 5px;
    float: left;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 40px -11px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 40px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 40px -11px rgba(0, 0, 0, 0.75);
    color: #fff;
}

.booking-form h3 {
    margin: 10px 0px;
}

.booking-form .input-group {
    margin: 10px 0;
}

.f-class {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inp-width {
    min-width: 300px;
}

.plus-minus-btn button {
    color: #3352F2;
    font-size: 30px;
    padding: 2px;
    margin-top: 10px;
    word-spacing: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}

.booking-form .calculations {
    margin: 10px 0;
}

.booking-form .calculations p {
    font-weight: 500;
    margin-bottom: 10px;
}

.booking-form input {
    width: 100%;
    border: none;
    border: 1px solid transparent;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: .3s;
    background: transparent;
    backdrop-filter: blur(2px);
    border-radius: 4px;
    margin: 10px 0;
    color: #fff;
}

.booking-form input::placeholder {
    color: rgba(255, 255, 255, .6);
}

.booking-form input:focus {
    outline: none;
    border: 1px solid white;
    color: #fff;
}

.booking-form .inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.booking-content {
    color: #fff;
    width: 80%;
}

.booking-content h1 {
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    margin-bottom: 25px;
}

.btn-style {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 500;
    background-color: #3352F2;
    border: 2px solid transparent;
    transition: .3s;
}

.btn-style:hover {
    background-color: transparent;
    border-color: #fff;
}

.amount {
    display: flex;
    justify-content: space-between;
}


/* add by me */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.booking-form {
    height: 90%;
    transition: all .3s ease-in-out;
    position: absolute;
    left: 200px;
}

.booking-content {
    width: 35%;
    transition: all .3s ease-in-out;
    position: absolute;
    right: 270px;
    top: 200px;
}

.slide-left {
    position: absolute;
    left: -500px;
}

.slide-right {
    position: absolute;
    right: -550px;
    top: 200px;
}

.default {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: 00;
    justify-content: center;
    align-items: center;
    transition: all .9s ease-in-out;
}

.content {
    width: 25%;
    height: 40%;
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
    padding: 30px;
    backdrop-filter: blur(1px);
    border-radius: 5px;
    position: absolute;
    top: -500px;
    left: 35%;
    transition: all .7s ease-in-out;
    box-shadow: 0px 0px 40px -11px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 40px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 40px -11px rgba(0, 0, 0, 0.75);
}

.content p {
    font-size: 18px;
    text-align: justify;
    word-spacing: 2px;
    color: black;
    margin-top: 20px;
}

.content h1 {
    font-size: 28px;
    color: rgb(255, 255, 255);
}

.content p span {
    color: rgb(141, 43, 13);
    font-size: 20px;
    text-align: center;
}

.content h3 {
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}

.content h3 span {
    color: rgb(141, 43, 13);
    font-size: 20px;
    text-align: center;
}

.change-position {
    position: absolute;
    top: 30%;
    left: 35%;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .5);
    border-radius: 4px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}